---
import Logo from "../assets/MLWX.svg";
import "../assets/global.css";
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>ML WORX</title>
	</head>
	<body
		class="bg-white text-black dark:bg-black dark:text-white flex flex-col justify-center items-center gap-16 h-dvh"
	>
		<Logo
			class="fill-current mx-auto max-w-lg drop-shadow-2xl/40 dark:drop-shadow-white/40"
		/>
	</body>
</html>
